body{
    background: #2c2c2c;
}

aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%; /*внутренние отступы*/
    height: 100vh;
    color: #fff; /*цвет текста - белый*/
    border-right: 5px solid #4d4d4d;
}

aside .logo
{
    font-size: 30px;
    margin-left: 10px; /*отступ с левой стороны*/
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3
{
    margin-top: 50px;
    font-size: 30px;
}

aside ul {list-style: none;}
aside ul li {
    margin-left: -10px;
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease; /*добавляем плавность при наведении на ссылку*/
}

aside ul li:hover, aside ul a:hover{
    /*color: #eb5959;*/
    color: #80d9ff;
    text-decoration: none;
    transform: scale(1.05); /*размер текста +5%*/
}

aside ul a {
    color: #fff;
    text-decoration: none;
}

main .features{
    float: left; /*позиціонування*/
    color: #fff;
    margin-top: 15px;
    text-align: center;
    width: 75%;
    padding-bottom: 50px;
}
main .features h1{font-size: 50px; margin-left: 18px; padding-bottom: 5px;}
main .features p{max-width: 400px; margin: 20px auto; padding-bottom: 8px;}

.container.mt-4 h2 {
    margin-left: 15px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}

.container.mt-3 p{
    margin-left: 25px;
    color: white;
    text-align: center;
}

.alert-warning {
    width: 100%;
    max-width: 550px;
    margin: 50px auto;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
}

.alert-success {
    width: 100%;
    max-width: 550px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
}

.btn-info {
    margin-left: 30px; /* посуне кнопку теж трохи правіше */
    margin-top: 20px;
}

.btn-complete {
    margin-left: 10px; /* посуне кнопку теж трохи правіше */
}

.button-group {
    display: flex;
    gap: 10px; /* відстань між кнопками */
    flex-wrap: wrap; /* якщо мало місця, кнопки не обрубаються */
    margin-top: 15px;
    margin-left: 25px;
}

.order-description {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    text-align: justify; /* необов'язково, але красиво */
}

.order-topic {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

form{
    margin-left: 28%;
    width: 500px;
    margin-top: 50px;
}

.button-row-offer {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    align-items: center;
    white-space: nowrap;
}

.btn-form-inline {
    display: flex;
    align-items: center;
    margin: 0;
}

.button-row-offer form {
    margin: 0;
}

.button-group-performer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.features h1{
    text-align: center;
}

.button-complete-order{
    margin-left: 190px;
}

.rating-client-performer h3{
    color: white;
}

.rating-client-performer h3{
    color: white;
}

.rating-client-performer table{
    color: white;
}

.rating-client-performer h4{
    color: white;
}

.form-inline.mb-4.progress-form{
    margin-right: 220px;   /* прибираємо відступ справа */
    /* margin-left: 80px;    /* прибираємо відступ зліва (якщо є) */
    width: 500px;      /* ширина форми */
    /* margin-top: 50px;  /* зверху відступ */
}

.features h3{
    text-align: center;
}

.warned-users h2{
    color: white;
}

.warned-users tr{
    color: white;
}

.warned-users td{
    color: white;
}